WINS/Win 2.5_ Score Notification.json
{
  "name": "Win 2.5: Score Notification",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "2fcffc3b-f8c8-4123-a2f0-b9c6460b7f72",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1bA5ljjILFVBS9caa7_6PIf4nL4FS3sr7UDqohnXFC8o",
          "mode": "list",
          "cachedResultName": "[Master] New Hire Assessment Scores",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bA5ljjILFVBS9caa7_6PIf4nL4FS3sr7UDqohnXFC8o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 677697051,
          "mode": "list",
          "cachedResultName": "Hardware Setup",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bA5ljjILFVBS9caa7_6PIf4nL4FS3sr7UDqohnXFC8o/edit#gid=677697051"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "36d4a65c-6451-4804-9765-8d23d89f9f05",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xWkX5ODqyr8g6JBX",
          "name": "AK's"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a5bfe1f4-ec6d-482f-80f6-53bbc4ac1c26",
              "leftValue": "={{ $json.Score }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        416,
        0
      ],
      "id": "8ffdd395-61e6-40a8-991f-2d9985ad6d8b",
      "name": "Filter"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// Coach name to email mapping\nfunction getCoachEmail(coachName) {\n  const coachMapping = {\n    'Ain': 'ain.nizar@storehub.com',\n    'Andrea': 'andrea.kaur@storehub.com',\n    'Elaine': 'elaine.pee@storehub.com', \n    'William': 'william.yew@storehub.com',\n    'Izzuddin': 'izzuddin.azizol@storehub.com'\n  };\n  return coachMapping[coachName] || 'andrea.kaur@storehub.com';\n}\n\nreturn items.map(item => {\n  const rawScore = parseFloat(item.json.Score);\n  const percentage = Math.round(rawScore * 1000) / 10; // Convert to % with 1 decimal\n  const passStatus = percentage >= 80 ? 'PASS' : 'FAIL';\n  const statusEmoji = percentage >= 80 ? '✅' : '❌';\n  \n  return {\n    json: {\n      trainee_name: item.json['New Hire Full Name'] || 'Unknown',\n      trainee_email: item.json['New Hire Email'] || 'Unknown',\n      coach_name: item.json['Coach Name'] || 'Unknown',\n      coach_email: getCoachEmail(item.json['Coach Name']),\n      role: item.json['Department/Role'] || 'Unknown',\n      assessment_name: 'Hardware Assessment',\n      raw_score: rawScore,\n      percentage_score: `${percentage}%`,\n      pass_status: passStatus,\n      status_emoji: statusEmoji,\n      timestamp: item.json.Timestamp,\n      submission_date: new Date().toLocaleDateString()\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        0
      ],
      "id": "26d29d88-39e0-4d50-8c76-c7cad619dd76",
      "name": "Code"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.coach_email }}",
        "subject": "={{ $json.trainee_name }}'s {{ $json.assessment_name }} Result",
        "emailType": "text",
        "message": "=Hi {{ $json.coach_name }},  \n\n{{ $json.trainee_name }} has completed their {{ $json.assessment_name }}!  \n\n🎯 Assessment Results: \n• Trainee: {{ $json.trainee_name }} ({{ $json.role }}) \n• Assessment: {{ $json.assessment_name }} \n• Score: {{ $json.percentage_score }} \n• Status: {{ $json.pass_status }} {{ $json.status_emoji }} \n• Completed: {{ $json.submission_date }}  {{ $json.pass_status === 'PASS' ? '🎉 Congratulations! The trainee has passed the assessment.' : '📋 The trainee did not meet the 80% passing threshold. Please provide additional support and consider a retake if needed.' }}  \n\nBest regards, \nAndrea",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        832,
        0
      ],
      "id": "79f3c392-8784-41d4-8eae-e0f59265b9dd",
      "name": "Send a message",
      "webhookId": "3dc96031-738e-4bf0-9b31-8626a2f44be0",
      "credentials": {
        "gmailOAuth2": {
          "id": "M8WHs7W6uy2BUq7w",
          "name": "AK's"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1bA5ljjILFVBS9caa7_6PIf4nL4FS3sr7UDqohnXFC8o",
          "mode": "list",
          "cachedResultName": "[Master] New Hire Assessment Scores",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bA5ljjILFVBS9caa7_6PIf4nL4FS3sr7UDqohnXFC8o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 677697051,
          "mode": "list",
          "cachedResultName": "Hardware Setup",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bA5ljjILFVBS9caa7_6PIf4nL4FS3sr7UDqohnXFC8o/edit#gid=677697051"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $('Get row(s) in sheet').item.json.Timestamp }}",
            "Reminder Sent": "={{ new Date().toISOString() }}"
          },
          "matchingColumns": [
            "Timestamp"
          ],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email Address",
              "displayName": "Email Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "New Hire Full Name",
              "displayName": "New Hire Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "New Hire Email",
              "displayName": "New Hire Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Department/Role",
              "displayName": "Department/Role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Coach Name",
              "displayName": "Coach Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "1. Did the player introduce the devices and explain their ports?",
              "displayName": "1. Did the player introduce the devices and explain their ports?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Remarks (Optional)",
              "displayName": "Remarks (Optional)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "2. Did the player explain the purpose of the ports?",
              "displayName": "2. Did the player explain the purpose of the ports?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Remarks (Optional)",
              "displayName": "Remarks (Optional)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "3. Did the player set up the hardware connections?",
              "displayName": "3. Did the player set up the hardware connections?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Remarks (Optional)",
              "displayName": "Remarks (Optional)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "4. Did the player search for and identify the correct printers within the system?",
              "displayName": "4. Did the player search for and identify the correct printers within the system?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Remarks (Optional)",
              "displayName": "Remarks (Optional)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "5. Did the player complete the setup process, ensuring everything was configured and functioning properly?",
              "displayName": "5. Did the player complete the setup process, ensuring everything was configured and functioning properly?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Remarks (Optional)",
              "displayName": "Remarks (Optional)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "6.Did the player demonstrate the ability to conduct the Feed test and accurately interpret the results?",
              "displayName": "6.Did the player demonstrate the ability to conduct the Feed test and accurately interpret the results?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Remarks (Optional)",
              "displayName": "Remarks (Optional)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "7. Did the player follow the correct steps to reset the printer successfully?",
              "displayName": "7. Did the player follow the correct steps to reset the printer successfully?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Remarks (Optional)",
              "displayName": "Remarks (Optional)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "8. Did the player successfully configure the printer?",
              "displayName": "8. Did the player successfully configure the printer?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Remarks (Optional)",
              "displayName": "Remarks (Optional)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "After configuration, did the player manage to reassign the printer?",
              "displayName": "After configuration, did the player manage to reassign the printer?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Remarks (Optional)",
              "displayName": "Remarks (Optional)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Score",
              "displayName": "Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Days Overvdue",
              "displayName": "Days Overvdue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Training Start Date",
              "displayName": "Training Start Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reminder Sent",
              "displayName": "Reminder Sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1040,
        0
      ],
      "id": "5dd2c396-eb7c-4985-ab18-e00e4bb52519",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xWkX5ODqyr8g6JBX",
          "name": "AK's"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "dd223dc8-47f3-44ae-9ad2-949f88c7af57",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c6eacfac65a18e093e28166dd4b59b1b46d26a5d7ab5531653cb1cf62db95e85"
  },
  "id": "FFvO0BcrnE4rMsrM",
  "tags": []
}