WINS/Win 2_ Assessment Scheduler (1).json
{
  "name": "Win 2: Assessment Scheduler",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "custom",
              "cronExpression": "Minutes: 30"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1ygEYNDbhmtaqjXhO7K_GfWwYK2WtV_erws7n52cWUZA",
          "mode": "list",
          "cachedResultName": "Master New Hire List - 2025",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ygEYNDbhmtaqjXhO7K_GfWwYK2WtV_erws7n52cWUZA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "New Hire List",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ygEYNDbhmtaqjXhO7K_GfWwYK2WtV_erws7n52cWUZA/edit#gid=0"
        },
        "event": "rowUpdate",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "d6b8cfcd-ee8f-4016-ac66-415b0539bf22",
      "name": "Monitor Status Changes",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "5RdjBLcNZ5y3PeRk",
          "name": "AK's"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "6b7518e0-ab8b-42ae-8666-f024510771e1",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "Email Sent",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "dc604e86-c423-4883-8edb-8a85e0eaa2f8",
              "leftValue": "={{ $json['Training Start Date'] }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "a526e2ba-26c7-4fce-a8e5-fee9075c3e80",
              "leftValue": "={{ $json['Days since Training Start '] }}",
              "rightValue": 10,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        224,
        0
      ],
      "id": "30a2ac95-b170-4b62-8847-fa2c9ae8ea9e",
      "name": "Ready for Assessment?"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// Coach name to email mapping\nfunction getCoachEmail(coachName) {\n  const coachMapping = {\n    'Ain': 'ain.nizar@storehub.com',\n    'Andrea': 'andrea.kaur@storehub.com',\n    'Elaine': 'elaine.pee@storehub.com',\n    'William': 'william.yew@storehub.com',\n    'Izzuddin': 'izzuddin.azizol@storehub.com'\n  };\n  return coachMapping[coachName] || 'andrea.kaur@storehub.com'; // Default fallback\n}\n\n// Assessment schedule mapping based on your configuration\nconst assessmentSchedule = {\n  'Merchant Care': [\n    { \n      name: 'Hardware Assessment', \n      day: 3, \n      formUrl: 'https://forms.gle/4uqyPthsVweeZPqx6', \n      instructions: 'Demonstrate basic troubleshooting based on scenario' \n    },\n    { \n      name: 'Care Mock Test', \n      day: 4, \n      formUrl: 'https://forms.gle/FKaQMgkzC6waDdhh8', \n      instructions: 'Assess product knowledge and soft skills when handling merchants' \n    }\n  ],\n  'Merchant Onboarding Manager': [\n    { \n      name: 'Hardware Assessment', \n      day: 3, \n      formUrl: 'https://forms.gle/4uqyPthsVweeZPqx6', \n      instructions: 'Demonstrate basic troubleshooting based on scenario' \n    }\n  ]\n};\n\nconst scheduledAssessments = [];\n\nitems.forEach(item => {\n  const trainee = item.json;\n  const role = trainee.Department;\n  const daysTraining = parseInt(trainee['Days since Training Start ']);\n  const assessments = assessmentSchedule[role] || [];\n  \n  // Find assessments due today\n  const dueToday = assessments.filter(assessment => assessment.day === daysTraining);\n  \n  dueToday.forEach(assessment => {\n    scheduledAssessments.push({\n      json: {\n        trainee_name: trainee['Full Name'],\n        trainee_email: trainee['Email Address'],\n        coach_email: getCoachEmail(trainee['Coach Name']),\n        role: role,\n        assessment_name: assessment.name,\n        form_url: assessment.formUrl,\n        instructions: assessment.instructions,\n        training_day: daysTraining\n      }\n    });\n  });\n});\n\nreturn scheduledAssessments;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        -160
      ],
      "id": "76afaab9-48c3-4459-81d5-558416ef9035",
      "name": "Assessment Scheduler"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.coach_email }}",
        "subject": "={{ $json.trainee_name }}'s'{{ $json.assessment_name }}",
        "emailType": "text",
        "message": "=Hi Coach,  \n\n{{ $json.trainee_name }} - ({{ $json.role }}) is ready for their {{ $json.assessment_name }} today (Day {{ $json.training_day }} of training).  \n\n📋 Assessment Details: \n• Assessment: {{ $json.assessment_name }} \n• Trainee: {{ $json.trainee_name }}   \n• Training Day: {{ $json.training_day }}  \n\n🔗 Complete Assessment: {{ $json.form_url }}  📝 \n\nInstructions:{{ $json.instructions }}  \n\nPlease complete this assessment by end of day.  \n\nBest regards, \nAndrea",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        640,
        -160
      ],
      "id": "20b6b96d-6617-4154-9cd5-44dc36d82e78",
      "name": "Send Assessment Forms Link",
      "webhookId": "4a3a5e73-95c8-4836-a446-14ad671ee07f",
      "credentials": {
        "gmailOAuth2": {
          "id": "M8WHs7W6uy2BUq7w",
          "name": "AK's"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Monitor Status Changes": {
      "main": [
        [
          {
            "node": "Ready for Assessment?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ready for Assessment?": {
      "main": [
        [
          {
            "node": "Assessment Scheduler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assessment Scheduler": {
      "main": [
        [
          {
            "node": "Send Assessment Forms Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "17f71bbf-8838-4823-b1e1-3af50983966d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c6eacfac65a18e093e28166dd4b59b1b46d26a5d7ab5531653cb1cf62db95e85"
  },
  "id": "QiJLhdgpcLFI6DFt",
  "tags": []
}